/* Common Rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    background: linear-gradient(180deg, #009688 19.65%, #DCDBD2 19.65%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.d_flex{
    display: flex;
}
/* Sidebar Section */
.sidebar{
    background-color: white;
    width: 300px;
    position: fixed;
    top: 50px;
    left: 400px;
}
.top_sidebar{
    display: flex;
    background-color: rgba(234, 234, 234, 1);
    padding: 20px 10px;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}
.central_sidebar{
    display: flex;
}
.down_sidebar{
    background-color: rgb(255, 255, 255);
    height: 440px;
}
/* Main Section */
.chat_section{
    height: 700px;
    width: 800px;
    position: fixed;
    top: 50px;
    left: 700px
}
.active_contact{
    display: flex;
    background-color: rgba(234, 234, 234, 1);
    padding: 20px 10px;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid grey;
   
}
.active_user_icons i{
    color: rgba(177, 177, 177, 1);
    padding-right: 10px;
    font-size: 1.5rem;
}
.chats{
    height: 475px;
    background-color: rgb(139, 3, 3);
    background-image: url(../img/mine.jpg)
}
.input_chat_bar{
    display: flex;
    background-color: rgba(243, 238, 234, 1);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.input_chat_bar i{
    font-size: 2rem;
    color: rgba(107, 115, 118, 1);
}
.input_chat_bar input{
    width: 80%;
    border-radius: 10px;
    height: 70px;
    border: none;
    outline: none;
    padding: 10px;
    
}
/* Logos */
.user_logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user_icons i{
    color: rgba(177, 177, 177, 1);
    padding-right: 10px;
    font-size: 1.5rem;
}
.user_info{
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 400;
    padding-left: 10px;
}
/* Notifications section */
.notification{
    display: flex;
    background-color: rgba(142, 218, 252, 1);
    color: white;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    padding: 10px;
}
.notification i{
    background-color: white;
    color: rgba(142, 218, 252, 1);
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 10px;
}
.notification p,
.notification a{
    font-size: 0.75rem;
    padding-left: 10px;
}
/* searchbar */
.searchbar_border{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px;
    border-radius: 5px;
}
.search_bar i{
    color: rgba(177, 177, 177, 1);
    padding-right: 10px;

}
.search_bar input {
    width: 80%;
    border: none;
    outline: none;
}
.search_bar{
    padding: 10px;
    background-color: rgba(234, 234, 234, 1);
    border: 1px solid rgba(128, 128, 128, 0.5)
}
.contact_names{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    padding: 20px 10px;
    border-bottom: 1px solid grey;
}
.contacts_list p{
    padding-left: 10px;
    font-size: 1rem;
    
}
