/* Common Rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Sidebar Section */
.sidebar{
    background-color: white;
    width: 300px;
    position: fixed;
    top: 50px;
    left: 400px;
    
    
}
.top_sidebar{
    background-color: lightseagreen;
    height: 100px;
}
.central_sidebar{
    background-color: rgb(23, 117, 113);
    height: 150px;
}
.down_sidebar{
    background-color: rgb(12, 58, 56);
    height: 450px;
}
/* Main Section */
.chat_section{
    height: 700px;
    width: 800px;
    position: fixed;
    top: 50px;
    left: 700px
}
.contact_name{
    height: 100px;
    background-color: rgb(202, 10, 10);
}
.chat{
    height: 475px;
    background-color: rgb(139, 3, 3);
}
.input_chat_bar{
    height: 125px;
    background-color: rgb(59, 1, 1);
}